<footer op-60 text-sm text-slate>
  <p mt-2>
    <span class="bg-slate text-slate bg-op-15 rounded px-1">Shift+Enter</span> 换行。
  </p>
  <p mt-1>本站内置了免费的key，也可以填入自己的 apikey，响应会更快。</p>


    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="http://ys.qlg6.cn"
      target="_blank"
    >
      在线观影
    </a>
  </p>
</footer>
